name: Java CI with Maven vs Docker

on:
  push:
    branches: [ ci-finish ]
  pull_request:
    branches: [ ci-finish ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Docker Build & Push Action
        uses: mr-smithers-excellent/docker-build-push@v5.6
        with:
          image: direktorbani/vakulibrary-bot
          tags: v1, latest
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: ls -a via ssh
        uses: fifsky/ssh-action@master
        with:
          command: sh /home/deploy.sh
          host: ${{ secrets.HOST }}
          user: ${{ secrets.USER}}
          key: ${{ secrets.KEY}}
          pass: ${{ secrets.PASSWORD}}
